__pycache__/
main/.env_BACKUP
.idea
match_log.txt
main/rio_name_map.json
main/client_secret.json
*.iml
main/resources/test_BACKUP.json
/main/resources/test_BACKUP.json
main/.env
main/resources/test.json
/scratch/
.git_commit_msg.tmp
/.claude/settings.local.json
/main/.env_PROD
